.grid-container {
    display: grid;
    grid-template-columns: repeat(37, 1fr); /* 52 weeks in a year */
    grid-template-rows: repeat(10, 1fr); /* 7 days in a week */
    grid-gap: 2px;
    margin-bottom: 200px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .grid-item {
    background-color: #ddd;
    border-radius: 5px;
    height: 22px;
    width: 22px;
    position: relative;
  }
  .grid-item.contributed {
    background-color: #2ea44f;
  }
  
  .grid-month {
    background-color: #ffffff;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
  }
  
  .grid-month div {
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    font-size: 20px;
  }
  

  
  /* Add hover effect on grid items */
  .grid-item:hover {
    opacity: 0.5;
    background-color: #fafafa;
    cursor: pointer;
  }
  
  /* Add tooltip to grid items */
  .grid-item:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
  }
  

 
  